* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: navy;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    color: wheat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#heading {
    margin: 17px;
    padding: 5px;
}

#calculator {
    width: 250px;
    height: auto;
    margin: 5px;
    padding: 0;
    background-color: darkcyan;
}

.display {
    padding: 12px;
    margin: 2px;
    width: 250px;
    height: auto;
    background-color: wheat;
}


.btn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: wheat;
    margin: 5px;
    padding: 5px;
}

.c{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: wheat;
    margin: 5px;
    padding: 5px;
}
